{% extends 'base.html' %}
{% load static %}

{% block main %}
<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
<link rel="stylesheet" href="{% static 'css/home-page.css' %}">
<link rel="stylesheet" href="{% static 'css/style_view_snippets.css' %}">
<div class="container">
    <div class="head">
        <h1>{{ pagename }}</h1>
        <hr>
    </div>

    <div class="info">
        <p>Добро пожаловать, уважаемый пользователь!
        <p>На этом сайте ты сможешь сохранить свои заготовки кода на различных языках программирования<br>
            А также делиться ими с другими пользователями...
        <hr>
    </div>

    <div class="add-sn">
        <a href="{% url 'adding' %}" class="btn btn-secondary btn-block">Добавить сниппет</a>
    </div>

    <hr>

    <div class="my-form">
        <form action='' method='post' id="view_snippet_form">
            {% csrf_token %}
            <div class="form-row">
                <span class="search-info">Найти сниппет по номеру</span>
                <input type="number" id="snippet_id" name="number" placeholder="введите число">
                <button type="submit"><i class="fa fa-search"></i></button>
            </div>
        </form>
    </div>
    {% if snippets and method == 'post' %}
        <div class="sn-row">
            {% include 'inc/table_sn.html' %}
        </div>
    {% elif not snippets and method == 'post' %}
        <div class="sn-row">Cниппета с таким id не существует! </div>
    {% endif %}
</div>
{% endblock %}