{% extends 'base.html' %}
{% load static %}

{% block main %}
<link rel="stylesheet" href="{% static 'css/style_view_snippets.css' %}">
<div class="head">
    <h1>{{ pagename }}</h1>
    <hr>
</div>
<div>
    <table class="resp-tab">
    <thead>
        <tr>
            <th>ID</th>
            <th>Название</th>
            <th>Автор</th>
            <th>Дата создания</th>
            <th>Действия</th>
        </tr>
    </thead>
    <tbody>
        {% for sn in snippets %}
           <tr>
               <td>{{ sn.pk }}</td>
               <td><a href="{% url 'snippet_page' sn.pk %}">{{ sn.name }}</a></td>
               <td>{{ sn.user }}</td>
               <td>{{ sn.creation_date }}</td>
               {% if request.user == sn.user %}
                    <td><a href="{% url 'edit' sn.pk %}">Изменить</a> | <a href="{% url 'del' sn.pk %}">Удалить</a></td>
               {% else %}
                    <td></td>
               {% endif %}
           </tr>
        {% endfor %}
    </tbody>
</table>
</div>
{% endblock %}