* {
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}
nav{
    background-color: rgb(52, 58, 64);
}
.menu{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 70%;
    max-width: 100%;
    margin: 0 auto;
    padding: 10px 10px;
    align-items: center;
}
.menu .left_side{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    color: white;
    align-items: center;
}
.menu .right_side{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    flex-direction: row;
    color: white;
    align-items: center;
}
nav a {
    color: white;
}
.my_btn{
    border: 1px solid;
    border-color: #337AB7;
    border-radius: 5px;
    color: white;
    padding: 5px 5px;
    margin-left: 5px;
    font-size: 18px;
}
.logo{
    color: white;
    padding-top: 4px;
}
nav span{
    color: white;
    padding: 5px 5px;
    font-size: 18px;
}
nav button{
    background: rgb(52, 58, 64);
    color: #fff;
}
.registr > form {
    display: flex;
    justify-content: center;
    flex-direction: row;
}
.registr{
    display: flex;
    justify-content: center;
    flex-direction: row;
}