{% load static %}
<link rel="stylesheet" href="{% static 'css/header.css' %}">
<nav>
    <div class="menu">
        <div class="left_side">
            <a class="logo" href="{% url 'home' %}"><img src="{% static 'images/logo.png' %}" width="32" height="32" alt=""></a>
                <a href="{% url 'home' %}">PythonBin</a>
            <a class="my_btn" href="{% url 'adding' %}">Добавить сниппет</a>
            <a class="my_btn" href="{% url 'list' %}">Просмотреть сниппеты</a>
        </div>

        <div class="right_side">
            {% if request.user.is_authenticated %}
                <a class="my_btn" type="submit" href="?filter" name="get_my_snippets">Мои сниппеты</a>
                <span> Welcome, {{request.user.username }}!</span>
                <a class="my_btn" href="{% url 'logout' %}">logout</a>
            {% else %}
                <form method="post" action="{% url 'login' %}">
                    {% csrf_token %}
                    <input name="username"  type="text" placeholder="username">
                    <input name="password"  type="password" placeholder="password">
                    <button class="my_btn" type="submit">login</button>
                </form>
                <a class="my_btn" href="{% url 'registration' %}">SignUp</a>
            {% endif %}
        </div>
    </div>
</nav>